.button {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  background-size: 200% 100%;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.button:hover {
  background-position: 100% 0;
}
