.formGroup {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.formField {
  width: 100%;
  border: 0;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  border-image-slice: 1;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  resize: vertical;
  min-height: 100px;
}

.formLabel {
  position: absolute;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--primary-color);
  font-weight: 700;
  top: 0px;
  display: block;
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  border-image-slice: 1;
}


.formField:required,
.formField:invalid {
  box-shadow: none;
}
